*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 

Colours
#BDA99D
#21251C
#995B32
#713B1B

*/

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;
}

header {
  min-height: 100vh;
  color: white;
  position: relative;
}

nav {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 2rem;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.nav__item {
  text-decoration: none;
  color: #dee2e6;
  font-weight: 700;
}

li:last-child {
  margin-left: auto;
}

.header-container {
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.text-container {
  margin: 0 auto;
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 120rem;
}

.left-side {
  width: 50%;
}

/* text box */
.main-title {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.subtitle {
  font-size: 2.5rem;
  margin-bottom: 0.7rem;
}

.info-text {
  margin-bottom: 2rem;
}

.cta {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: grey;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  font-weight: 700;
  text-transform: capitalize;
}

/* background */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./imgs/splash.webp);
  background-size: cover;
  overflow: hidden;
}

/* cta section */
.section-cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(./imgs/section-cta.webp);
  background-size: cover;
  padding: 10rem 0;
  display: grid;
  place-items: center;
}

.cta-text {
  color: #dee2e6;
  margin-bottom: 1.5rem;
}

.cta-container {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.cta-heading {
  color: white;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.cta-text {
  margin-bottom: 2.5rem;
}

.cta-text-field {
  height: 3rem;
  width: 20rem;
}

.cta-button {
  color: #dee2e6;
  background-color: grey;
  border: none;
  height: 3rem;
  padding: 0 1.5rem;
  font-weight: 700;
  border-radius: 3px;
}

/* Information section */

.section-information {
  padding: 9.6rem 0;
}

.info-container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-container {
  padding: 0 2rem;
}

.info-heading {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}

.info-sub-heading-2 {
  margin-bottom: 7.2rem;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.grid--center {
  display: grid;
  place-items: center;
}

.card:hover {
  transition: all ease 0.3s;
  transform: scale(1.025);
}

.info-card {
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 19px 18px 43px 12px rgba(0, 0, 0, 0.23);
  height: 40rem;
  width: 40rem;
}

.info-card h3 {
  font-size: 3.2rem;
  margin-bottom: 6rem;
}

.info-card p {
  margin-bottom: 2rem;
}

.info-img {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 19px 18px 43px 12px rgba(0, 0, 0, 0.23);
}

/* Section testimonial */

.section-testimonial {
  height: 100vh;
  background-color: #e9e1dc;
  padding: 9.6rem 0;
}

.testimonial-subheading {
  margin-bottom: 15rem;
}

.carousel__card {
  width: 80rem;
  background-color: #bda99d;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 7rem;
  padding-left: 8.6rem;
  position: relative;
}

.carousel__img {
  height: 200px;
  border-radius: 5px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.23);
}

.testimonial-text {
  margin-bottom: 3.5rem;
}

.testimonial-author {
  text-transform: capitalize;
  font-style: italic;
}

/* Section testimonial -- carousel buttons */

.carousel__btn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  background-color: white;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.23);
}

.btn-icon {
  height: 25px;
  width: 25px;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.carousel__card--2 {
  color: white;
  display: none;
}

/* Media queries and responsive design */

/* 87em = 1392px */
@media (max-width: 87em) {
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
}
